{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6df53b2a0ecfbda8d4a8ae1fb4b61d64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/accounts/10630"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 751,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"csp_metadata\":null,\"restrict_to_ips\":null,\"id\":10630,\"stripe_id\":null,\"trial_end\":\"2021-10-23T00:36:24.000Z\",\"created\":\"2021-10-09T00:36:24.000Z\",\"current_plan\":57,\"additional_credits\":0,\"num_allowed_keys\":1,\"custom_cost\":null,\"suppressions_admin_only\":false,\"global_suppressions_admin_only\":false,\"source\":\"aquasec\",\"enforce_oauth\":false,\"login_timeout\":null,\"just_in_time_domain\":null,\"just_in_time_domain_secondary\":null,\"users_admin_only\":false,\"integrations_admin_only\":false,\"disable_default_emails\":false,\"block_default_group\":false,\"presuppress_plugins\":false,\"associate_tags\":false,\"aws_marketplace_id\":\"\",\"byok_bucket\":null,\"csp_enabled\":true,\"renewal_date\":null,\"root_user\":\"austin.kelleher@jupiterone.dev\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "9a7ac046-33a5-4267-a726-3a2d7742904f"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "G87-UGfRIAMF0aw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "46c5d99ebad86972328aaee86bf2fd3a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"status\":200,\"code\":0,\"data\":[{\"dashboard\":null,\"csp_roles\":null,\"id\":22971,\"email\":\"austin.kelleher@jupiterone.dev\",\"confirmed\":true,\"password_reset\":false,\"send_announcements\":false,\"send_scan_results\":true,\"send_new_plugins\":false,\"send_new_risks\":true,\"account_admin\":true,\"created\":\"2021-10-09T00:36:25.000Z\",\"provider\":null,\"multiaccount\":false},{\"dashboard\":null,\"csp_roles\":null,\"id\":22977,\"email\":\"austin.kelleher+j1test@jupiterone.dev\",\"confirmed\":true,\"password_reset\":false,\"send_announcements\":false,\"send_scan_results\":true,\"send_new_plugins\":false,\"send_new_risks\":true,\"account_admin\":false,\"created\":\"2021-10-09T15:59:43.000Z\",\"provider\":null,\"multiaccount\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "d3dfcc52-79c8-4198-8f50-6f4727a19eec"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "G87-WEb4oAMFbxg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 206,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
