{
  "log": {
    "_recordingName": "fetchApiKeys",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6df53b2a0ecfbda8d4a8ae1fb4b61d64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/accounts/10630"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 751,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"csp_metadata\":null,\"restrict_to_ips\":null,\"id\":10630,\"stripe_id\":null,\"trial_end\":\"2021-10-23T00:36:24.000Z\",\"created\":\"2021-10-09T00:36:24.000Z\",\"current_plan\":57,\"additional_credits\":0,\"num_allowed_keys\":1,\"custom_cost\":null,\"suppressions_admin_only\":false,\"global_suppressions_admin_only\":false,\"source\":\"aquasec\",\"enforce_oauth\":false,\"login_timeout\":null,\"just_in_time_domain\":null,\"just_in_time_domain_secondary\":null,\"users_admin_only\":false,\"integrations_admin_only\":false,\"disable_default_emails\":false,\"block_default_group\":false,\"presuppress_plugins\":false,\"associate_tags\":false,\"aws_marketplace_id\":\"\",\"byok_bucket\":null,\"csp_enabled\":true,\"renewal_date\":null,\"root_user\":\"austin.kelleher@jupiterone.dev\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "b19fe622-c0ee-420e-a2dd-26b172d846af"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HD2G9FsxoAMFQwg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      },
      {
        "_id": "fee2d02df9b7e692645e48d5975ca428",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/apikeys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 971,
            "text": "{\"status\":200,\"code\":0,\"data\":[{\"ip_addresses\":null,\"id\":1081,\"access_key\":\"mebDoeHcCHm6RcCraAaqgP\",\"description\":null,\"whitelisted\":false,\"scans_per_month\":0,\"created\":\"2021-10-09T12:53:56.000Z\",\"account_id\":10630,\"group_id\":null,\"iac_token\":false},{\"ip_addresses\":null,\"id\":1083,\"access_key\":\"3FqDYAG325qYx6zN8GZ4Bx\",\"description\":\"J1 Limited Scope Key\",\"whitelisted\":false,\"scans_per_month\":0,\"created\":\"2021-10-09T22:00:15.000Z\",\"account_id\":10630,\"group_id\":12028,\"iac_token\":false},{\"ip_addresses\":null,\"id\":1085,\"access_key\":\"D2yEcjM3mOMz5HjmSJzvsf\",\"description\":\"JupiterOne API Key\",\"whitelisted\":false,\"scans_per_month\":0,\"created\":\"2021-10-09T22:10:14.000Z\",\"account_id\":10630,\"group_id\":12031,\"iac_token\":false},{\"ip_addresses\":[\"127.0.0.1\",\"127.0.0.2\"],\"id\":1086,\"access_key\":\"kRhlEeBBqDAUcEmQdMkAiO\",\"description\":\"With IPs\",\"whitelisted\":false,\"scans_per_month\":0,\"created\":\"2021-10-09T23:48:15.000Z\",\"account_id\":10630,\"group_id\":null,\"iac_token\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "fb01876e-a95b-4b00-96e1-41b83802c266"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HD2G_E-wIAMFsNQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
